body{
  background-color: rgb(23, 24, 24);
  width: 99%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counterBox{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
h1{
  font-size: 5rem;
  color: white;
}

button{
  position: relative;
  padding: 1rem 2rem ;
  outline: none;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}
button.reset{
  margin-top: 0.8rem;
  background-color: red;
}
button:hover{
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.555);
}


.tooltip {
  display: none;
  position: absolute;
  background-color: rgb(133, 133, 133);
  padding: 5px;
  border-radius: 5px;
  top: 50%; 
  left: 150%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  width: 5rem;
}

button:hover .tooltip {
  display: inline-block;
}
